body {
    font-family: "Quicksand";
}
header {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
.header-bar {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
header li a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    padding: 10 25px !important;
}
header li a:hover {
    font-weight: bold;
    text-decoration: underline !important;
    background-color: #fff !important;
    color: #000;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* .navbar-collapse.collapse {
    display: none;
} */
.header-btn {
    font-family: "Quicksand";
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.header-login {
    margin-left: 30px;
    color: #fff;
    background: #000;
}
.header-register {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}
.header-btn img {
    margin-right: 10px;
}
.header-btn:hover {
    text-decoration: none !important;
}
.header-login:hover {
    color: #fff;
}
.header-register:hover {
    color: #000 !important;
}

footer {
    background: #fff;
    margin-top: 5em;
}
.container {
    width: 80vw !important;
}
.footer-menu {
    margin-bottom: 70px;
}
.footer-wrapper ul {
    color: #696969;
}
.footer-social div {
    margin-top: 20px;
}
.footer-social img {
    margin-right: 20px;
}
footer a {
    color: #000 !important;
}
footer ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 50px 0 50px;
    font-size: 16px;
    color: #000;
}
footer ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
.footer-title img {
    margin-top: -40px;
}
.footer-social-icons {
    margin-top: 50px;
}
.footer-social-icons img {
    margin-right: 20px;
}
.footer-subscribe {
    border: 1px solid #c2c2c2;
    padding: 15px;
    border-radius: 5px;
    margin-top: 40px;
}
.footer-subscribe img {
    margin-right: 10px;
    margin-left: 10px;
}
.footer-subscribe input {
    border: #fff !important;
    width: 60%;
    padding: 10px;
}
.footer-subscribe input:focus {
    border: #fff !important;
}
footer p {
    color: #000;
    font-size: 25px;
}
.footer-copyright-content {
    background: #000;
    padding: 20px;
}
.footer-copyright-content p {
    color: #fff !important;
    font-size: 20px !important;
}
.copyright-img a {
    color: #fff !important;
    font-size: 20px !important;
}
.copyright-img a:hover {
    text-decoration: none !important;
}
.user-avatar {
    margin-left: 30px;
}
.user-avatar a {
    font-size: 20px;
    color: #696969;
    cursor: pointer;
    padding-left: 20px;
}
.user-avatar a:hover {
    text-decoration: none;
}
#userModal .modal-dialog {
    width: 165px !important;
    float: right;
    margin-right: 12em;
    margin-top: 8.2em;
}
.modal-content {
    border-radius: 12px;
}
#userModal a {
    color: #333333;
    font-size: 20px;
    padding-left: 15px;
    cursor: pointer;
}
.modal-body {
    padding: 20px !important;
}
#userModal .body-content {
    display: flex;
}
#userModal .body-logout {
    padding-top: 20px;
}
.error-404 {
    text-align: center;
}
.error-404 div {
    font-size: 36px;
    font-weight: bold;
    color: #3a3a3a;
    margin: 20px 0;
}
.error-404 span {
    font-size: 22px;
    color: #7d7d7d;
}
.error-404 span a {
    text-decoration: underline;
    color: #4169e2 !important;
}
.error-404 span a:hover {
    font-weight: bold;
}
@media (max-width: 1366px) {
    header li a {
        font-size: 20px;
    }
    .footer-copyright-content p {
        font-size: 16px !important;
    }
    .copyright-img a {
        font-size: 16px !important;
    }
    .modal-dialog {
        margin-right: 8em;
    }
    .header-logo img {
        width: 100px;
    }
    .footer-subscribe input {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    header li a {
        font-size: 16px;
    }
    .container {
        width: 90vw !important;
    }
}
@media (max-width: 640px) {
}
@media (max-width: 840px) {
    .container {
        width: 90vw !important;
    }
    .navbar-toggle {
        background-color: #000 !important;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-right {
        display: none;
    }
    .navbar-nav {
        display: block;
    }
    .navbar-nav div {
        margin-top: 20px;
    }
    .navbar-header {
        width: 50%;
    }
    .header-login {
        margin-left: 25px;
    }
    .header-btn {
        padding: 5px 10px;
    }
}
@media (max-width: 480px) {
    .container {
        width: 90vw !important;
    }
    .navbar-toggle {
        background-color: #000 !important;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .footer-subscribe input {
        width: 50%;
    }
    .footer-title img {
        width: 100px;
    }
    footer ul {
        margin: 20px 0;
        font-size: 12px;
    }
    .footer-social {
        font-size: 12px;
    }
    footer p {
        font-size: 20px;
    }
    .footer-social-icons {
        margin-bottom: 20px;
    }
    footer ul li {
        font-size: 12px;
    }
    .copyright-img a {
        font-size: 12px !important;
    }
    .footer-copyright-content p {
        font-size: 12px !important;
    }
}
